@model IEnumerable<Laboratorio01.Models.ClientModel>

@{
    ViewData["Title"] = "searchLetter";
}

<h1>
    Carta del DPI:
    @ViewData["DPI"]
</h1>

<h2>
    Decodificada
</h2>
<p>
    @ViewData["Decodificado"]
</p>

<br />

<h2>
    Codificada
</h2>

<p>
    @ViewData["Codificado"]
</p>
